<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-700">
        <a class="text-blue-500 text-2xl inline-block mb-5" href="/">Go Back To Home</a>
        <h2 class="mt-5 mb-5 text-white text-3xl"><%= fileLelo %></h2>
        <p class="text-white text-3xl font-light"><%= filedata %></p>
       
    </div>
</body>
</html>